openapi: 3.1.0
info:
  title: MailerSend Bulk Email Webhooks API
  description: MailerSend's REST API provides endpoints for sending transactional and bulk emails, retrieving message activity, and managing templates, domains, sender identities, scheduled messages, and webhooks. Authentication uses a Bearer API token. Single email sends are asynchronous and return an `x-message-id` response header.
  version: 1.0.0
  contact:
    name: MailerSend
    url: https://developers.mailersend.com/
servers:
- url: https://api.mailersend.com/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Webhooks
paths:
  /webhooks:
    get:
      tags:
      - Webhooks
      summary: List webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: Webhooks
    post:
      tags:
      - Webhooks
      summary: Create webhook
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              - events
              - name
              - domain_id
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                name:
                  type: string
                domain_id:
                  type: string
                enabled:
                  type: boolean
      responses:
        '201':
          description: Webhook
  /webhooks/{webhook_id}:
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook
      operationId: deleteWebhook
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token generated in MailerSend dashboard.
